.ipynb_checkpoints
.ipynb_checkpoints/
__pycache__/

code_store/
storage/
tensorboard/
sample_runs/
tb_events/
data/
results/
*.bat
*.ini

# For LaTex
# Article/*.aux
# Article/*.bbl
# Article/*.blg
# Article/*.log
# Article/*.out
# Article/*.pdf
# Article/*.xml
# Article/*.gz
# Article/*-blx.bib
# Article/*.synctex.gz
# Article/*.run.xml